.h-60 {
    height: 60px;
}

.h-80 {
    height: 80px;
}

.h-160 {
    height: 160px;
}
.p-10-16 {
    padding: 10px 16px;
}

.px-24 {
    padding: 0 24px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}
.border-solid {
    border: 1px solid;
}